<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js'

    // If you enabled Analytics in your project, add the Firebase SDK for Google Analytics
    import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.1.0/firebase-analytics.js'

    // Add Firebase products that you want to use
    import { getAuth } from 'https://www.gstatic.com/firebasejs/10.1.0/firebase-auth.js'
    import { initializeAppCheck, ReCaptchaV3Provider } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app-check.js"

    const firebaseConfig = {
        apiKey: "{{ site.firebaseconfig.apiKey }}",
        authDomain: "{{ site.firebaseconfig.authDomain }}",
        databaseURL: "{{ site.firebaseconfig.databaseURL }}",
        projectId: "{{ site.firebaseconfig.projectId }}",
        storageBucket: "{{ site.firebaseconfig.storageBucket }}",
        messagingSenderId: "{{ site.firebaseconfig.messagingSenderId }}",
        appId: "{{ site.firebaseconfig.appId }}",
        measurementId: "{{ site.firebaseconfig.measurementId }}"
    };
    
    const app = initializeApp(firebaseConfig);

    // Pass your reCAPTCHA v3 site key (public key) to activate(). Make sure this
    // key is the counterpart to the secret key you set in the Firebase console.
    const appCheck = initializeAppCheck(app, {
        provider: new ReCaptchaV3Provider('6LcEx04nAAAAALIfXA2WX1JlZvFEgrIqRKmHiQP6'),
        // Optional argument. If true, the SDK automatically refreshes App Check
        // tokens as needed.
        isTokenAutoRefreshEnabled: true
    });
</script>
<script type="text/javascript">
    initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                localStorage.setItem('user', JSON.stringify(user));
                document.getElementById("showAuthModalButton").classList.add('d-none');
                document.getElementById('showAuthModalButton').classList.remove('d-inline');
                document.getElementById('profile').classList.add('d-inline');
                document.getElementById('profile').classList.remove('d-none');

                document.getElementById('profilePic').src = user.photoURL;
                document.getElementById('profilePic').alt = user.displayName;
            } else {
            // User is signed out.
                localStorage.removeItem('user');
                document.getElementById("showAuthModalButton").classList.add('d-inline');
                document.getElementById('showAuthModalButton').classList.remove('d-none');
                document.getElementById('profile').classList.add('d-none');
                document.getElementById('profile').classList.remove('d-inline');
                // Check if the current page requires login
                if (document.body.classList.contains('requires-auth')) {
                    window.location.href = "/loginerror.html";
                }
            }
        }, function(error) {
            console.log(error);
        });
    };
    window.addEventListener('load', function() {
      initApp()
    });
    document.getElementById('logout').addEventListener('click', function() {
        firebase.auth().signOut();
        window.location.href = "/index.html";
    });
</script>
<script type="text/javascript">

    // Initialize FirebaseUI
    var uiConfig = {
        callbacks: {
        signInSuccessWithAuthResult: function(authResult) {
            // User successfully signed in.
            document.getElementById('profilePic').src = authResult.user.photoURL;
            document.getElementById('profilePic').alt = authResult.user.displayName;
            // Return type determines whether we continue the redirect automatically
            // or whether we leave that to developer to handle.
            return false;
        },
        signInFailure: function(error) {
            // Some unrecoverable error occurred during sign-in.
            // Return a promise when error handling is completed and FirebaseUI
            // will reset, clearing any UI. This commonly occurs for error code
            // 'firebaseui/anonymous-upgrade-merge-conflict' when merge conflict
            // occurs. Check below for more details on this.
            return handleUIError(error);
        },
        uiShown: function() {
            // The widget is rendered.
            // Hide the loader.
            document.getElementById('loader').style.display = 'none';
        }
        },
        // Query parameter name for mode.
        queryParameterForWidgetMode: 'mode',
        // Query parameter name for sign in success url.
        queryParameterForSignInSuccessUrl: 'signInSuccessUrl',
        // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
        signInFlow: 'redirect',
        signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
        {
            provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            clientId: '151584811216-167512kqq0tg33jid96f09f3j4k3f1ti.apps.googleusercontent.com'
        },
        firebase.auth.TwitterAuthProvider.PROVIDER_ID,
        firebase.auth.GithubAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID,
        firebase.auth.PhoneAuthProvider.PROVIDER_ID
        ],
        credentialHelper: firebaseui.auth.CredentialHelper.NONE,
        // Terms of service url.
        tosUrl: '<your-tos-url>',
        // Privacy policy url.
        privacyPolicyUrl: 'https://marketingplatform.google.com/about/analytics/terms/us/'
    };
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // Start the FirebaseUI login UI
    ui.start('#firebaseui-auth-container', uiConfig);
</script>
