@import "rouge-base16-dark";
@import "default_colors";

$pakistan-green: #0A451C;
$tyrian-purple: #450A33;
$byzantium: #721054;
$raspberry: #E8185E;
$rose-red: #BA134B;
$aquamarine: #18E8A2;



$body-background: $tyrian-purple !default;
$body-foreground: $gallery !default;
$header: $raspberry !default;

$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

$container-max-width: 1000px;

@mixin color-mode($mode: light, $root: false) {
  @if $color-mode-type == "media-query" {
    @if $root == true {
      @media (prefers-color-scheme: $mode) {
        :root {
          @content;
        }
      }
    } @else {
      @media (prefers-color-scheme: $mode) {
        @content;
      }
    }
  } @else {
    [data-bs-theme="#{$mode}"] {
      @content;
    }
  }
}